
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

    body {
        margin: 0; 
        padding: 0; 
        width:100%;
        overflow-x: hidden;
    }
    body, html { overflow-x:hidden; }

    .topHeader .links{
        background-color: #1bbc9b;
        border: 1px solid #b2b3b2;
        color: #fdf8bf;
        float: right;
        font-size: 9px;
        font-weight: 600;
        line-height: 30px;
        margin-right: 61%;
        margin-top: 0;
        position: absolute;
        width: 13%;
    }
    .rightcolumn{
        display:none !important;
    }  
    #leftcolumn{
        float: left;
        width: auto;
        margin-top:2%;
    }
    #content1 {
        background: none repeat scroll 0 0 #ffffff;
        float: left;
        margin-bottom: 50px;
        margin-top: 50px;
        width: 100%;
        margin-left:0px;
    }

    div.envelope {
        border: 1px solid #d1d5d8;
        border-radius: 10px;
        margin-left:0% !important;

    }
    .switchButton {
        background-position: -23px 2px;
        cursor: pointer;
        height: 18px;
        position: relative;
    }

    input[type="text"] {
        border: 1px solid #d1d5d8;
        border-radius: 5px;
        float: left;
        font-family: "Open Sans",helvetica,arial,sans-serif;
        font-size: 1em;
        font-weight: 100;
        margin-bottom: 20px;
        margin-left: 10px;
        margin-top: 10px;
        padding: 15px;
        width: 85%;
    }

    input[type="submit"] {
        background-color: #1bbc9b;
        border: 0 none;
        border-radius: 5px;
        box-sizing: border-box;
        color: #fff;
        cursor: pointer;
        display: inline-block;
        font-family: "Open Sans",helvetica,arial,sans-serif;
        font-size: 1em;
        padding: 1em 3em;
        position: relative;
        margin-left:0;
        text-decoration: none;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
        transition: all 0.3s ease 0s;
    }

    header{
        background: none repeat scroll 0 0 #ebebeb;
        border-bottom: 1px solid #c1c1c1;
        color: #444444;
        height: 50px;
        background-color: #1BBC9B;
        text-align: center;
        margin-top: -11px;
        margin-bottom: 0px;
        border-radius:9px 9px 0 0;
        color: aliceblue;
    }
    .ui-datepicker-multi-2 .ui-datepicker-group{
        width:74% !important;
    }

    #ui-datepicker-div{
        width:16em !important;
    }
    .switchButton2{
        margin-left:10px !important;
    }

    .switchButton1 {
        background-position: -27px -22px;
        height:55px;
        text-indent:10px;

    }
    .switchButton2 {
        background-position: -27px -22px;
        height: 55px;
        text-indent:10px;
    }

    .modifys {
        background-color: #1bbc9b;
        border: 1px solid gray;
        float: left;
        height: 50px;
        width: 100%;
    }

    .topHeader .links{
        display:none;
        z-index:100;
    }
    div.selectBoxdcc{
        position:relative;
        float:left; 
    }
    #nav-flow{
        display:block;
        float:left;
        margin-left:27%;
        margin-top:2%;
        cursor:pointer;
    }

    .topHeader .links a{
        border-bottom: 1px solid #b2b3b2;
        display: block;
        float: left;
        margin-bottom: 0;
        text-align: center;
        width: 100%;
    }
    .topHeader .links a:hover{
        background-color: #3399FF;
        opacity:0.8;
        color:#fff;
        font-weight:bold;
        border-bottom: 1px solid #fff;

    }
    #OnwardDataDiv,.tab {
        display:none;
    }
    #example{width:50%;
    }
    .busIcon,.busLinks, .icon-time,.moblogin{
        display:none;
    }
    .seat-display{
        display:block;
    }
    .login{
        background-color: #1bbc9b;
    display: block;
    margin-left: 32px;
    margin-top: 14px;
    }
	.seatLayout1{
	margin-top:35%;
	}
	
	

.ulform{
float:left; 
}

.ulform li{
float:left;
width:100%;
color: #444444;
font-size: 15px;
padding: 0 15px;
font-family:"Open Sans",Arial,Helvetica,sans-serif;
}

.ulform li label{
float: left;
font-weight: 500;
padding: 10px;
width:12%;
}
.ulform li .divformfield{
 float: none;
margin-top: 0px;
width: 30%;
}
.ulform li .tabfield{
 float: left;
    margin-top: 10px;
    width: 18%;
}
.ulform li .divformfield input[type="text"]{
     border: 1px solid #d1d5d8;
    border-radius: 5px;
    display: inline-block;
    font-family: "Open Sans",helvetica,arial,sans-serif;
    font-size: 1em;
    font-weight: 100;
    margin-bottom: 0;
    margin-top: 0;
    width: 70%;
}
.ulform li .divformfield input[type="radio"]{
   border: 1px solid #d1d5d8;
    border-radius: 5px;
    font-family: "Open Sans",helvetica,arial,sans-serif;
    font-size: 1em;
    font-weight: 100;
    margin-bottom:0px;
    margin-top: 0px;
	width:auto;
	float:none;
}
.ulform li .divformfield input[type="text"]:focus{
box-shadow:0 0 12px #ddd;
outline:0 none;
}

#usermob1{
width:81px;
}
#usermob{
width:69%;
}
textarea,select{
float:left;
width:30%;
}
textarea {
    overflow: auto;
    resize: vertical;
    vertical-align: top;
    width: 50% !important;
}
.color-mark{
color:red;
}
#designation{
display:none;
}

.usersubmit{
    background-color: #1bbc9b;
    border: 0 none;
    border-radius: 5px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: "Open Sans",helvetica,arial,sans-serif;
    font-size: 1em;
    margin-left: 0px !important;
    padding: 7px !important;
    position: relative;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease 0s;
}

.wrap {
    margin: 0 auto;
    width: auto;
}

.ulform li .submit1{
 padding: 10px;
    width: 92px;
}
.divformfield .useraddress {
    overflow: auto;
    resize: vertical;
    vertical-align: top;
    width: 80% !important;
}
textarea,select{
float:left;
width:30%;
}

.addform label{
float:left;
display:inline;
width:9%;
}
.tabdet {
    clear: both;
    float: left;
}
#radiogen {
    float: left;
    margin: 8px;
    width: 0;
}

#username {
    float: left;
    margin: 10px 0 20px;
    width: 29%;
}
#userage {
    float: left;
    margin: 5px 34px 20px;
    width: 14%;
}
.fixed {
    position: fixed;
    top: 0;
    width: 100%;
}
.terms{
float: none;
font-family:Calibri,sans-serif;
line-height: 20px;
margin-left: 31px;
margin-top: 1%;
text-align: left;
width: auto;
}

.oltext,.ultext{font-size:15px;text-align:left
}
.ultext li{
list-style-type: disc;font-family:Calibri,sans-serif;
}
.oltext{margin-left:25px;
}
.ultext{margin-left:85px;
}
.oltext li{
list-style-type: decimal;font-family:Calibri,sans-serif;
}
  #searchbus{height:416px;background-color:yellow;}
  
  .ticket{
  width:55% !important;
  }
  .divformf{
  width:100% !important;
  }
	.mainfooter .col3 {
    float: none;
    margin-top: 19px;
    width: 250px;
}
}

@media only  screen and (max-device-width:480px){
    .topHeader .links{
        background-color: #1bbc9b;
        border: 1px solid #b2b3b2;
        color: #fdf8bf;
        float: right;
        font-size: 9px;
        font-weight: 600;
        line-height: 30px;
        margin-right: 52%;
        margin-top: 0;
        position: absolute;
        width: 13%;
    }
    .rightcolumn{
        display:none !important;
    }  
    #leftcolumn{
        float: left;
        width: auto;
        margin-top:2%;

    }
    #content1 {
        background: none repeat scroll 0 0 #ffffff;
        float: left;
        margin-bottom: 50px;
        margin-top: 50px;
        width: 100%;
        margin-left:0px;
    }

    div.envelope {
        border: 1px solid #d1d5d8;
        border-radius: 10px;
        margin-left:0% !important;width:100%;

    }
    .switchButton {
        background-position: -23px 2px;
        cursor: pointer;
        height: 18px;
        position: relative;
    }

    input[type="text"] {
        border: 1px solid #d1d5d8;
        border-radius: 5px;
        float: left;
        font-family: "Open Sans",helvetica,arial,sans-serif;
        font-size: 1em;
        font-weight: 100;
        margin-bottom: 20px;
        margin-left: 10px;
        margin-top: 10px;
        padding: 15px;
        width: 85%;
    }

    input[type="submit"] {
        background-color: #1bbc9b;
        border: 0 none;
        border-radius: 5px;
        box-sizing: border-box;
        color: #fff;
        cursor: pointer;
        display: inline-block;
        font-family: "Open Sans",helvetica,arial,sans-serif;
        font-size: 1em;
        padding: 1em 3em;
        position: relative;
        margin-left:0;
        text-decoration: none;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
        transition: all 0.3s ease 0s;
    }

    header{
        background: none repeat scroll 0 0 #ebebeb;
        border-bottom: 1px solid #c1c1c1;
        color: #444444;
        height: 50px;
        background-color: #1BBC9B;
        text-align: center;
        margin-top: -11px;
        margin-bottom: 0px;
        border-radius:9px 9px 0 0;
        color: aliceblue;
    }
    .ui-datepicker-multi-2 .ui-datepicker-group{
        width:74% !important;
    }

    #ui-datepicker-div{
        width:16em !important;
    }
    .switchButton2{
        margin-left:10px !important;
    }

    .switchButton1 {
        background-position: -27px -22px;
        height:55px;
        text-indent:10px;

    }
    .switchButton2 {
        background-position: -27px -22px;
        height: 55px;
        text-indent:10px;
    }

    .modifys {
        background-color: #1bbc9b;
        border: 1px solid gray;
        float: left;
        height: 50px;
        width: 100%;
    }

    .topHeader .links{
        display:none;
        z-index:100;
    }
    div.selectBoxdcc{
        position:relative;
        float:left;
    }
    #nav-flow{
        display:block;
        float:left;
        margin-left:27%;
        margin-top:2%;
        cursor:pointer;
    }

    .topHeader .links a{
        border-bottom: 1px solid #b2b3b2;
        display: block;
        float: left;
        margin-bottom: 0;
        text-align: center;
        width: 100%;
    }
    .topHeader .links a:hover{
        background-color: #3399FF;
        opacity:0.8;
        color:#fff;
        font-weight:bold;
        border-bottom: 1px solid #fff;

    }
    #OnwardDataDiv,.tab {
        display:none;
    }
    #example{width:50%;
    }
    .busIcon,.busLinks, .icon-time,.moblogin{
        display:none;
    }
    .seat-display{
        display:block;
    }
    .login{
         background-color: #1bbc9b;
    display: block;
    margin-left: 32px;
    margin-top: 14px;
    }
    .logo-name {
        color: #1bbc9b;
        font-size: 18px;
        margin-left: -12px;
        margin-top: -8px;
        position: absolute;
    }
	.seatLayout1{
	margin-top:35%;
	 margin-bottom: 72%;
	}
	
      
.ulform{
float:left; 
}

.ulform li{
float:left;
width:100%;
color: #444444;
font-size: 15px;
padding: 0 15px;
font-family:"Open Sans",Arial,Helvetica,sans-serif;
}

.ulform li label{
float: left;
font-weight: 500;
padding: 10px;
width:12%;
}
.ulform li .divformfield{
 float: none;
margin-top: 0px;
width: 30%;
}
.ulform li .tabfield{
 float: left;
    margin-top: 10px;
    width: 18%;
}
.ulform li .divformfield input[type="text"]{
     border: 1px solid #d1d5d8;
    border-radius: 5px;
    display: inline-block;
    font-family: "Open Sans",helvetica,arial,sans-serif;
    font-size: 1em;
    font-weight: 100;
    margin-bottom: 0;
    margin-top: 0;
    width: 70%;
}
.ulform li .divformfield input[type="radio"]{
   border: 1px solid #d1d5d8;
    border-radius: 5px;
    font-family: "Open Sans",helvetica,arial,sans-serif;
    font-size: 1em;
    font-weight: 100;
    margin-bottom:0px;
    margin-top: 0px;
	width:auto;
	float:none;
}
.ulform li .divformfield input[type="text"]:focus{
box-shadow:0 0 12px #ddd;
outline:0 none;
}

#usermob1{
width:81px;
}
#usermob{
width:69%;
}
textarea,select{
float:left;
width:30%;
}
textarea {
    overflow: auto;
    resize: vertical;
    vertical-align: top;
    width: 50% !important;
}
.color-mark{
color:red;
}

#designation{
display:none;
}

.usersubmit{
    background-color: #1bbc9b;
    border: 0 none;
    border-radius: 5px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: "Open Sans",helvetica,arial,sans-serif;
    font-size: 1em;
    margin-left: 0px !important;
    padding: 7px !important;
    position: relative;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease 0s;
}

.wrap {
    margin: 0 auto;
    width: auto;
}

.ulform li .submit1{
 padding: 10px;
    width: 92px;
}

.divformfield .useraddress {
    overflow: auto;
    resize: vertical;
    vertical-align: top;
    width: 80% !important;
}

textarea,select{
float:left;
width:30%;
}
.addform label{
float:left;
display:inline;
width:11%;
}
.tabdet {
    clear: both;
    float: left;
}
#radiogen {
    float: left;
    margin: 8px;
    width: 0;
}

#username {
    float: left;
    margin: 10px 0 20px;
    width: 29%;
}
#userage {
    float: left;
    margin: 5px 34px 20px;
    width: 14%;
}
.fixed {
    position: fixed;
    top: 0;
    width: 100%;
}
.terms{
float: none;
font-family:Calibri,sans-serif;
line-height: 20px;
margin-left: 31px;
margin-top: 1%;
text-align: left;
width: auto;
}

.oltext,.ultext{font-size:15px;text-align:left
}
.ultext li{
list-style-type: disc;font-family:Calibri,sans-serif;
}
.oltext{margin-left:25px;
}
.ultext{margin-left:85px;
}
.oltext li{
list-style-type: decimal;font-family:Calibri,sans-serif;
}
 #searchbus{height:416px;background-color:yellow;}
	 .ticket{
  width:55% !important;
  }
  .divformf{
  width:100% !important;
  }
  .mainfooter .col3 {
    float: none;
    margin-top: 19px;
    width: 250px;
}
}
