#wrapper {
    width: 100% !important;
}
body {
    margin: 0; 
    padding: 0;
}
@media only screen 
and (max-device-width:2000px) 
{
    body {
        margin: 0; 
        padding: 0;
    }
    body, html { overflow-x:hidden; }
    p{
        padding:4px !important;
    }
    .main{display:none;}
    input[type="text"] {
        border: 1px solid #d1d5d8;
        border-radius: 5px;
        float: left;
        font-family: "Open Sans",helvetica,arial,sans-serif;
        font-size: 1em;
        font-weight: 100;
        margin-bottom: 20px;
        margin-top: 10px;
        padding: 5px;
        width: 42%;
    }
    .ui-datepicker-multi-2 .ui-datepicker-group{
        width:50%;
    }	
    .ui-datepicker-div{
        width:31em !important;
    }
    #content1 {
        background: none repeat scroll 0 0 #ffffff;
        float: left;
        margin-bottom: 50px;
        margin-top: 50px;
        width: 100%;
        margin-left:3%;
    }

    #content2{
        margin-top:10px;
        width:1074px;
        margin-bottom:10px;
        margin:0 auto;
    }
    #example{

        border-collapse: collapse;
        border-spacing: 0;
    }
    div.envelope {
        border: 1px solid #d1d5d8;
        border-radius: 10px;
        float: left;
        margin-left:22%;
        margin-top: 1%;
        width: 32%;
    }

    .rightcolumn {
        background: none repeat scroll 0 0 #fff;
        float: right;
        margin-right: 20%;
        margin-top: 0;
        width: 20%;
    }
    .topHeader .links {
        color: #444444;
        font-size: 9px;
        font-weight: 600;
        line-height: 30px;
        right: 210px;
    }

    footer .links {
        float: right;
        line-height: 45px;
        margin-right: 185px;
    }
    .logo-name {
        color: #1bbc9b;
        font-size: 18px;
        margin-left: -12px;
        margin-top: -8px;
        position: absolute;
    }
    .table-grid{
        margin: 0 auto;
        overflow: hidden;
        width: 1074px;
        position:relative;
    }

    #OnwardDataDiv{
        float:left;
        margin-left:25%;
        color:#fff;
        width:18%;
        border-right:1px solid #dadada;
    }

    .filter {
        float: left;
        margin: 4px 10px 4px 0;
        position: relative;
        width: 139px;
    }

    .tab{
        margin-left:51px;
        display: block;
        float:left;
    }

    div.selectBoxdcc{
        width:250px;
    }

    .logo-name {
        color: #1bbc9b;
        font-size: 18px;
        margin-left: -13px;
        position: absolute;
    }

    header{
        background-color: #1BBC9B;
        text-align: center;
        /*	padding-top: 12px;
                padding-bottom: 8px;
                margin-top: -11px;*/
        margin-bottom: -16px;
        border-radius:9px 9px 0 0;
        color: aliceblue;
        height:45px;
    }

    input[type=submit]
    {
        background-color: #1bbc9b;
        border: 0 none;
        border-radius: 5px;
        box-sizing: border-box;
        color: #fff;
        cursor: pointer;
        display: inline-block;
        font-family: "Open Sans",helvetica,arial,sans-serif;
        font-size: 1em;
        margin-left: 102px;
        padding: 10px 1em;
        position: relative;
        text-decoration: none;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
        transition: all 0.3s ease 0s;
    }

    .switchButton2{
        margin-left:9.5%;
    }
    .switchButton1 {
        /* background-position: -27px -22px;
            height:55px;
                text-indent:30px;*/

    }
    .switchButton2{
        /* background-position: -27px -22px;
            height: 55px;
                text-indent:30px;*/
    }
    .switchButton {
        /*    background-position: -23px 31px;
            cursor: pointer;
            float: left;*/
        height: 49px;
        position: relative;
    }
    #nav-flow{
        display:none;
    }

    .switchButton3{
        background-position: -27px -22px;
        text-indent:30px;
    }
    .seat-display,.moblogin, .login{
        display:none;
    }
    .busIcon,.busLinks, .icon-time,.moblogin, .icon-icon_lstSeat, .icon-bus_icon, .icon-icon_lstSeat ,.icon-amenities , .icon-location{
        display:none;
    }

    .form1{
        margin: 4% 10px;
        width: 100%;
    }
    .main{display:none;}


    .passenger
    {
        font-size:12px;
        border-bottom:1px dashed #1BBC9B;
        padding-top:10px;
        clear:both;
        line-height:20px;
    }

    .ulform{
        float:left;
        margin:0 auto;
    }

    .ulform li{
        float:left;
        width:100%;
        color: #444444;
        font-size: 15px;
        padding: 0 15px;
        font-family:"Open Sans",Arial,Helvetica,sans-serif;
    }

    .ulform li label{
        float:left;
        width:30%;
        padding:10px;
        font-weight: 500;
    }
    .ulform li .divformfield{
        float:right;
        width:60%;
        margin-top:10px;
    }
    .ulform li .divformfield input[type="text"]{
        border: 1px solid #d1d5d8;
        border-radius: 5px;
        float: left;
        font-family: "Open Sans",helvetica,arial,sans-serif;
        font-size: 1em;
        font-weight: 100;
        margin-bottom:0px;
        margin-top: 0px;
        width:50%;
    }

    .ulform li .divformfield input[type="text"]:focus{
        box-shadow:0 0 12px #ddd;
        outline:0 none;
    }
    #usermob1{
        width:50px;
    }
    #usermob{
        width:41%;
    }
    textarea,select{
        width:50%;
    }
    .color-mark{
        color:red;
    }
    #designation{
        display:none;
    }

    .usersubmit{
        background-color: #1bbc9b;
        border: 0 none;
        border-radius: 5px;
        box-sizing: border-box;
        color: #fff;
        cursor: pointer;
        display: inline-block;
        font-family: "Open Sans",helvetica,arial,sans-serif;
        font-size: 1em;
        margin-left: 0px !important;
        padding: 7px !important;
        position: relative;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
        transition: all 0.3s ease 0s;
    }
    textarea {
        overflow: auto;
        resize: vertical;
        vertical-align: top;
        width: 50% !important;
    }
    .addform label{
        float:left;
        display:inline;
        width:33%;
        padding:20px;
    }
    .divform{
        float:left;
        display:inline;
        width:33%;
    }
    .tabfield{
        margin-top:10px;
    }
    #username,#userage {
        border: 1px solid #d1d5d8;
        border-radius: 5px;
        float: none;
        font-family: "Open Sans",helvetica,arial,sans-serif;
        font-size: 1em;
        font-weight: 100;
        padding: 5px;
    }

    #username {
        margin: 10px 18px 20px;
        width: 23%;
    }

    #userage {
        width:7%;
        margin: 10px 132px 20px;
    }
    #radiogen{
        margin: 10px 50px 20px;
    }
    .fixmodify{
        position:relative;
        margin-bottom:5%;
    }
    .fixed {
        position: fixed;
        top: 0;
        width:79.8%;
    }
    .terms{
        float:left;
        line-height:20px;
        font-family:Calibri,sans-serif;
        width:100%;
        margin-left:5%;
        margin-top:1%;
        width:auto;

    }
    .oltext,.ultext{font-size:15px;
    }
    .ultext li{
        list-style-type: disc;
        font-family:Calibri,sans-serif;
    }
    .oltext{margin-left:75px;
    }
    .ultext{margin-left:100px;
    }
    .oltext li{
        list-style-type: decimal;
        font-family:Calibri,sans-serif;
    }
	#seats{
float:none;
border-radius:100px;
width:300px;
}
.ssb-legend{
 border: 1px solid;
    float: left;
    margin-left: 0%;
    margin-right: 5%;
    margin-top: 4%;
    padding: 10px;
    width: 226px;
}
.seatLayout{
   float: left;
    width: 393px;
}
.fare {
   float: left;
    margin-bottom: 46px;
	margin-top:0px;
	
}
.seatsname{
padding: 5px;
    float: left;
    clear: both;
    margin-left: 65%;
    margin-top: 1%;
	}
}
