	
@media only screen 
and (max-device-width : 768px){
    body {
        margin: 0; 
        padding: 0; 
        overflow-x: hidden;
    }
    body, html { overflow-x:hidden; }
    p{
        padding:4px !important;
    }
    #content1 {
        background: none repeat scroll 0 0 #ffffff;
        float: left;
        margin-bottom: 0;
        margin-top: 0;
        width: 100%;
        margin-left:0;
    }
    div.envelope {
        border: 1px solid #d1d5d8;
        border-radius: 10px;
        float: left;
        margin-left:3%;
        margin-top: 1%;
        width:80%;
    }
    .rightcolumn{
        display:none;
        background: none repeat scroll 0 0 #fff;
        float: left;
        margin-right: 13%!important;
        margin-top: 0;
        width: 31%!important;
    }
    #leftcolumn{
        float:left;
        width:57%;
    }
    #content2{
        float:left;
        margin-top:10px;
        width:100%;
        margin-bottom:10px;

    }

    .ui-datepicker-multi-2 .ui-datepicker-group{
        width:50%;
    }	
    .ui-datepicker-div{
        width:31em !important;
    }

    .logo-name {
        color: #1bbc9b;
        font-size: 18px;
        margin-left: -13px;
        margin-top: -8px;
        position: absolute;
    }

    .topHeader .links {
        color: #444444;
        float: right;
        font-size: 9px;
        font-weight: 600;
        line-height: 30px;
        right: 62%;
    }

    div.selectBoxdcc {
        width: 65%;
    }

    .switchButton {
        background-position: -23px 31px;
        cursor: pointer;
        float: left;
        height: 49px;
        position: relative;
    }
		#seats{
	float:none;
	border-radius:100px;
	width:300px;
	}
    #nav-flow{
        display:none;
    }
    #OnwardDataDiv{
        float: left; 
        color: rgb(255, 255, 255);
        border-right: 1px solid rgb(218, 218, 218); 
        margin-left: 8%;
        width:23%;
    }


    table-grid{
        width:100%;
    }
    .filter {
        float: left;
        margin: 4px 10px 4px 0;
        position: relative;
        width: 98px;
    }

    footer .links{
        float:left;
        margin-left:20px;
    }

    .tab{
        display: block;
        float:left;
        margin-left:0;
    }
    #frgotpwdtLink{
        color: #3399ff;
        font-size: 13px;
        margin-left: 0%;
        position:relative;
    }
    .switchButton2{
        margin-left:9.5% !important;
    } 

    
    .table-grid{
        margin:0px;
    }
    .pointer, .switchButton1, .switchButton2{
        width:13%;
    }

    header{
        background-color: #1BBC9B;
        text-align: center;
        /*	padding-top: 12px;
                padding-bottom: 8px;
                margin-top: -11px;*/
        margin-bottom: -16px;
        border-radius:9px 9px 0 0;
        color: aliceblue;
        height:45px;
    }
    input[type=submit]
    {
        border: 0 none;
        box-sizing: border-box;
        color: #fff;
        cursor: pointer;
        display: inline-block;
        font-family: "Open Sans",helvetica,arial,sans-serif;
        font-size: 1em;
        position: relative;
        text-decoration: none;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
        transition: all 0.3s ease 0s;
        background-color:#1BBC9B;
        border-radius: 5px;
    }
    input[type="text"] {
        border: 1px solid #d1d5d8;
        border-radius: 5px;
        float: left;
        font-family: "Open Sans",helvetica,arial,sans-serif;
        font-size: 1em;
        font-weight: 100;
        margin-bottom: 20px;
        margin-left: 0px;
        margin-top: 10px;
        width: 42%;
    }

    table tr th{
        text-align:left;
    }

    table tr td{
        border-bottom:2px solid #EBEBEB;
    }

    .td-fullwidth{
        text-align:right;
    }

    table tbody{
        overflow-y:scroll !important;
    }

    #example{
        width:99%;
    }
    .seat-display,.moblogin{
        display:none;
    }
    .busIcon,.busLinks, .icon-time,.moblogin{
        display:none;
    } 
    .login{
       background-color: #1bbc9b;
    display: block;
    float: left;
    margin-left: 29px;
    margin-top: 13px;
    }
#busbooking{
display:none;
margin-top: 5%; margin-bottom: 13%;
 background-color: rgb(209, 244, 255); 
 border-radius: 10px;
 border: 1px solid rgb(0, 0, 0);
 padding: 34px;
}
.close{
padding: 4px; 
background-color: rgb(27, 188, 155);
 color: rgb(255, 255, 255);
 font-weight: bold; 
 font-size: 15px; 
 margin-top: 1%;
}
.ssb-legend{
margin-top: 2%;
 margin-left: 5%;
 margin-right: 5%; 
 border: 1px solid; 
 padding: 10px; 
 font-size: 15px;
}
.boardingPoints{
margin-top:5%
}
.payment{
background-color: rgb(27, 188, 155);
 color: rgb(255, 255, 255); 
 font-size: 15px; 
 font-weight: bold;
 padding: 3px;
}
.dropdown{
float:none;
}

.addform label{
display:inline;
width:21%;
}

.tabfield{
margin-top:10px;
}
.tabdet{
float:left;
}
#username,#userage {
   border: 1px solid #d1d5d8;
    border-radius: 5px;
    float: none;
    font-family: "Open Sans",helvetica,arial,sans-serif;
    font-size: 1em;
    font-weight: 100;
    padding: 5px;
}

#username {
margin: 10px 0px 20px;
width: 48%;
}

#userage {
float:none;
 width:10%;
   margin: 10px 40px 20px;
}
#radiogen{
margin: 10px 0px 20px;
}
.fixed {
    position: fixed;
    top: 0;
    width: 100%;
}
#searchbus{
height: 72px;
}
.terms{
float: none;
font-family:Calibri,sans-serif;
line-height: 20px;
margin-left: 31px;
margin-top: 1%;
text-align: left;
width: auto;
}

.oltext,.ultext{font-size:15px;text-align:left
}
.ultext li{
list-style-type: disc;font-family:Calibri,sans-serif;
}
.oltext{margin-left:25px;
}
.ultext{margin-left:25px;
}
.oltext li{
list-style-type: decimal;font-family:Calibri,sans-serif;
}
.boardingPoints select{
width:300px;float:left;
}
#ui-datepicker-div{top:105.8px;
}
}
@media only screen 
and (max-device-width :980px) 
{
    body {
        margin: 0; 
        padding: 0; 
        text-align: center;
    }
    p{
        padding:4px !important;
    }
    #content1 {
        background: none repeat scroll 0 0 #ffffff;
        float: left;
        margin-bottom: 0;
        margin-top: 0;
        width: 100%;
        margin-left:0;
    }
    div.envelope {
        border: 1px solid #d1d5d8;
        border-radius: 10px;
        float: left;
        margin-bottom: 3%;
        margin-left: 3%;
        margin-top: 4%;
        width: 80%;
    }
    .rightcolumn{
        display:none;
        background: none repeat scroll 0 0 #fff;
        float: left;
        margin-right: 13%!important;
        margin-top: 0;
        width: 31%!important;
    }
    #content2{
        float:left;
        margin-top:10px;
        width:100%;
        margin-bottom:10px;

    }
    #leftcolumn{
        float:left;
        width:57%;
    }
    .ui-datepicker-multi-2 .ui-datepicker-group{
        width:50%;
    }	
    .ui-datepicker-div{
        width:31em !important;
    }

    .logo-name {
        color: #1bbc9b;
        font-size: 18px;
        margin-left: -13px;
        margin-top: -8px;
        position: absolute;
    }

    .topHeader .links {
        color: #444444;
        float: right;
        font-size: 9px;
        font-weight: 600;
        line-height: 30px;
        right: 62%;
    }

    div.selectBoxdcc {
        width: 65%;
    }

    .switchButton {
        background-position: -23px 31px;
        cursor: pointer;
        float: left;
        height: 49px;
        position: relative;
    }

    #nav-flow{
        display:none;
    }
    #OnwardDataDiv{
        float: left; 
        color: rgb(255, 255, 255);
        border-right: 1px solid rgb(218, 218, 218); 
        margin-left: 8%;
        width:23%;
    }


    table-grid{
        width:100%;
    }
    .filter {
        float: left;
        margin: 4px 10px 4px 0;
        position: relative;
        width: 98px;
    }

    footer .links{
        float:left;
        margin-left:20px;
    }

    .tab{
        display: block;
        float:left;
        margin-left:0;
    }
    #frgotpwdtLink{
        color: #3399ff;
        font-size: 13px;
        position: relative;
        margin-left: 0%;
    }
    .switchButton2{
        margin-left:6.5% !important;
    } 

  
    .table-grid{
        margin:0px;
        overflow: scroll;
    }
    .pointer, .switchButton1, .switchButton2{
        width:13%;
    }

    header{
        background-color: #1BBC9B;
        text-align: center;
        /*	padding-top: 12px;
                padding-bottom: 8px;
                margin-top: -11px;*/
        margin-bottom: -16px;
        border-radius:9px 9px 0 0;
        color: aliceblue;
        height:45px;
    }
    input[type=submit]
    {
        border: 0 none;
        box-sizing: border-box;
        color: #fff;
        cursor: pointer;
        display: inline-block;
        font-family: "Open Sans",helvetica,arial,sans-serif;
        font-size: 1em;
        position: relative;
        text-decoration: none;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
        transition: all 0.3s ease 0s;
        background-color:#1BBC9B;
        border-radius: 5px;
        padding:10px 1em;
    }
    input[type="text"] {
        border: 1px solid #d1d5d8;
        border-radius: 5px;
        float: left;
        font-family: "Open Sans",helvetica,arial,sans-serif;
        font-size: 1em;
        font-weight: 100;
        margin-bottom: 20px;
        margin-left: 0px;
        margin-top: 10px;
        width: 42%;
    }

    table tr th{
        text-align:left;
    }

    table tr td{
        border-bottom:2px solid #EBEBEB;
    }

    .td-fullwidth{
        text-align:right;
    }

    table tbody{
        overflow-y:scroll !important;
    }

    #example{
        width:99%;
    }
    .seat-display,.moblogin{
        display:none;
    }
    .busIcon,.busLinks, .icon-time,.moblogin{
        display:none;
    }
    .logo-name {
        color: #1bbc9b;
        font-size: 18px;
        margin-left: -10px;
        margin-top: -8px;
        position: absolute;
    }
    .login{
        background-color: #1bbc9b;
    display: block;
    float: left;
    margin-left: 29px;
    margin-top: 13px;
    }
		#busbooking{
display:none;
margin-top: 5%; margin-bottom: 13%;
 background-color: rgb(209, 244, 255); 
 border-radius: 10px;
 border: 1px solid rgb(0, 0, 0);
 padding: 34px;
}
.close{
padding: 4px; 
background-color: rgb(27, 188, 155);
 color: rgb(255, 255, 255);
 font-weight: bold; 
 font-size: 15px; 
 margin-top: 1%;
}
.ssb-legend{
margin-top: 2%;
 margin-left: 5%;
 margin-right: 5%; 
 border: 1px solid; 
 padding: 10px; 
 font-size: 15px;
}
.boardingPoints{
margin-top:5%
}
.passenger
{
 text-align: left;
font-size:12px;
border-bottom:1px dashed #1BBC9B;
padding-top:10px;
clear:both;
line-height:20px;
}
.payment{
background-color: rgb(27, 188, 155);
 color: rgb(255, 255, 255); 
 font-size: 15px; 
 font-weight: bold;
 padding: 3px;
}
.dropdown{
float:none;
}

.ulform{
float:left; 
}

.ulform li{
float:left;
width:100%;
color: #444444;
font-size: 15px;
padding: 0 15px;
font-family:"Open Sans",Arial,Helvetica,sans-serif;
}

.ulform li label{
float: left;
font-weight: 500;
padding: 10px;
width:16%;
}
.ulform li .divformfield{
 float: left;
    margin-top: 10px;
    width: 84%;
}
.ulform li .tabfield{
 float: left;
    margin-top: 10px;
    width: 18%;
}
.ulform li .divformfield input[type="text"]{
   border: 1px solid #d1d5d8;
    border-radius: 5px;
    float: left;
    font-family: "Open Sans",helvetica,arial,sans-serif;
    font-size: 1em;
    font-weight: 100;
    margin-bottom:0px;
    margin-top: 0px;
	width:50%;
}
.ulform li .divformfield input[type="radio"]{
   border: 1px solid #d1d5d8;
    border-radius: 5px;
    font-family: "Open Sans",helvetica,arial,sans-serif;
    font-size: 1em;
    font-weight: 100;
    margin-bottom:0px;
    margin-top: 0px;
	width:auto;
	float:none;
}
.ulform li .divformfield input[type="text"]:focus{
box-shadow:0 0 12px #ddd;
outline:0 none;
}

#usermob1{
width:50px;
}
#usermob{
width:42%;
}
textarea,select{
float:left;
width:30%;
}
textarea {
    overflow: auto;
    resize: vertical;
    vertical-align: top;
    width: 50% !important;
}
.color-mark{
color:red;
}
#designation{
display:none;
}

.usersubmit{
    background-color: #1bbc9b;
    border: 0 none;
    border-radius: 5px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: "Open Sans",helvetica,arial,sans-serif;
    font-size: 1em;
    margin-left: 0px !important;
    padding: 7px !important;
    position: relative;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease 0s;
}

.wrap {
    margin: 0 auto;
    width: auto;
}

.ulform li .submit1{
width:39%
}
.addform label{
display:inline;
width:22%;
}

.tabfield{
margin-top:10px;
}
.tabdet{
float:left;
}
#username,#userage {
   border: 1px solid #d1d5d8;
    border-radius: 5px;
    float: none;
    font-family: "Open Sans",helvetica,arial,sans-serif;
    font-size: 1em;
    font-weight: 100;
    padding: 5px;
}

#username {
margin: 10px 0px 20px;
width: 48%;
}

#userage {
float:none;
 width:10%;
   margin: 10px 40px 20px;
}
#radiogen{
margin: 10px 0px 20px;
}
.fixed {
    position: fixed;
    top: 0;
    width: 100%;
}
#searchbus{
height: 72px;
}
.terms{
float: none;
font-family:Calibri,sans-serif;
line-height: 20px;
margin-left: 31px;
margin-top: 1%;
text-align: left;
width: auto;
}

.oltext,.ultext{font-size:15px;text-align:left
}
.ultext li{
list-style-type: disc;font-family:Calibri,sans-serif;
}
.oltext{margin-left:25px;
}
.ultext{margin-left:85px;
}
.oltext li{
list-style-type: decimal;font-family:Calibri,sans-serif;
}
.boardingPoints select{
width:300px ;float:left;
}
#ui-datepicker-div{top:105.8px;
}
#seats{
float:none;
border-radius:100px;
width:300px;
}
}