body {
	  margin: 0; 
	 padding: 0;
 } 
 body, html { overflow-x:hidden; }
@media only  screen and (max-width:980px)and (min-width:600px){
#example{display:none;}
body {
	margin: 0; 
 padding: 0; 
 width:100%;
 overflow-x: hidden;
 }
 .seatLayout1{display:none;}
.table-grid{width:100%;}
.main{ bottom: 0px; height: 100%;left: 0px;width:100%;top: 0px;display:block;visibility:visible;
}
.subcontainer{background-color: #edf9f3;
    border: 1px solid #000;
    border-radius: 10px;
    bottom: 187px;
    float: left;
    height: 34.9%;
    left: 3px;
    position: relative;
    top: 0;
    width: 99%;margin-bottom:10px;}

.namecontainer{padding:10px;text-align:left;float:left;border-radius: 10px;left: 3px;margin-bottom:10px;right: 8px;width: 64%;background-color: #ebebeb; }
.operatorsname{color: #000000;font-size:24px;color: #000000; font-weight: 400; }
.bustype{ color: #057635;font: 400 18px 'Times New Roman'; color: #057635;}
.pricecontainer{ background-color: #ebebeb;
    border-radius: 10px;
    clear: both;
    float: left;
    height: 16.3%;
    left: 5px;
    right: 226px;
    text-align: center;
    width: 34%;
}
.price{ color: #000000;
    font: 700 22px "Trajan Pro";
    position: relative;
    top:6px;
    width: 34%;}
.timings{ color: #005e20;
    float: left;
    font: 400 20px BookAntiqua;
    margin-left: 11%;
    position: relative;
    width: auto;} 
.cancelshape{background-color: #1BBC9B;
    border-radius: 50%;
    height: 4.3%;
    left: 0;
    position: relative;
    width: 34%;font-size:14px;color:#EBEBEB;font-weight:bold;}
.canceltxt{ color: #005e20;
    font: 400 14px BellMT; }
	.viewbutton{   background-color: #1BBC9B;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    height: 8.7%;
    padding: 8px;
    position: relative;
    text-align: center;
    top: 18px;
    width: 60%;font-size:14px;color:#EBEBEB;font-weight:bold;}
.viewtext{ clear:both;color: #000000;
    font: 700 12px "Trajan Pro";
    height: 2.4%;
    left: 183px;
    right: 135px;
    width: 30%;font-size:14px;color:#EBEBEB;font-weight:bold; }
.seats{float:right;color: #000000;
    font: 700 22px "Trajan Pro";
    top: 22px;
    width: 30%;
	position:relative;}

.hrstext{color: #005e20;
    font: 400 20px BookAntiqua;
    right: 34%;
    top: 10%;}
.windows{ color: #005e20;
    font: 400 14px BellMT; height: 2.2%; width:auto; left: 264px; right: 20px;}
.price-timings{width:64%;
}
.hrs{display:none;
 }
 .hrs1{display:block;
 }
 #busbooking{
display:none;
margin-top: 5%; margin-bottom: 13%;
 background-color: rgb(209, 244, 255); 
 border-radius: 10px;
 border: 1px solid rgb(0, 0, 0);
 padding: 34px;
}
.close{
padding: 4px; 
background-color: rgb(27, 188, 155);
 color: rgb(255, 255, 255);
 font-weight: bold; 
 font-size: 15px; 
 margin-top: 1%;
}
.ssb-legend{
margin-top: 2%;
 margin-left: 5%;
 margin-right: 5%; 
 border: 1px solid; 
 padding: 10px; 
 font-size: 15px;
}
.boardingPoints{
margin-top:5%
}
.payment{
background-color: rgb(27, 188, 155);
 color: rgb(255, 255, 255); 
 font-size: 15px; 
 font-weight: bold;
 padding: 3px;
}
 }
@media only  screen and (min-width:450px)and (max-width:1070px){
#example{display:none;}
.table-grid{width:100%;}

 
.boardingPoints{
margin-top:27%;
}
.seatLayout1{
margin-top:35%;
}
body {
	margin: 0; 
 padding: 0; 
 width:100%;
 overflow-x: hidden;
 }
.main{ bottom: 0px; height: 100%;left: 0px;width:100%;top: 0px;display:block;visibility:visible;
}
.subcontainer{background-color: #edf9f3;
    border: 1px solid #000;
    border-radius: 10px;
    bottom: 187px;
    float: left;
    height: 34.9%;
    left: 3px;
    position: relative;
    top: 0;
    width:99%;margin-bottom:10px;}

.namecontainer{padding:10px;text-align:left;float:left;border-radius: 10px;left: 3px;margin-bottom:10px;right: 8px;width: 64%;background-color: #ebebeb; }
.operatorsname{color: #000000;font-size:24px;color: #000000; font-weight: 400; }
.bustype{ color: #057635;font: 400 18px 'Times New Roman'; color: #057635;}
.pricecontainer{ background-color: #ebebeb;
    border-radius: 10px;
    clear: both;
    float: left;
    height: 16.3%;
    left: 5px;
    right: 226px;
    text-align: center;
    width: 34%;
}
.price{ color: #000000;
    font: 700 22px "Trajan Pro";
    position: relative;
    top:6px;
    width: 34%;}
.timings{ color: #005e20;
    float: left;
    font: 400 20px BookAntiqua;
    margin-left: 11%;
    position: relative;
    width: auto;} 
.cancelshape{background-color:#1BBC9B;
    border-radius: 50%;
    height: 4.3%;
    left: 0;
    position: relative;
    width: 34%;font-size:14px;color:#EBEBEB;font-weight:bold;}
.canceltxt{ color: #005e20;
    font: 400 14px BellMT; font-size:14px;color:#EBEBEB;font-weight:bold;}
	
	.viewbutton{   background-color: #1BBC9B;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    height: 8.7%;
    padding: 8px;
    position: relative;
    text-align: center;
    top: 18px;
    width:60%;font-size:14px;color:#EBEBEB;font-weight:bold;cursor:pointer;
	}
	
.viewtext{ clear:both;color: #000000;
    font: 700 12px "Trajan Pro";
    height: 2.4%;
    left: 183px;
    right: 135px;
    width: 30%;font-size:14px;color:#EBEBEB;font-weight:bold; }
.seats{float:right;color: #000000;
    font: 700 22px "Trajan Pro";
    top: 22px;
    width: 30%;
	position:relative;}

.hrstext{color: #005e20;
    font: 400 20px BookAntiqua;
    right: 34%;
    top: 10%;}
.windows{ color: #005e20;
    font: 400 14px BellMT; height: 2.2%; width:auto; left: 264px; right: 20px;}
.price-timings{width:64%;
}
.hrs{display:none;
 }
 .hrs1{display:block;
 }
 
#busbooking{
display:none;
margin-top: 5%; margin-bottom: 13%;
 background-color: rgb(209, 244, 255); 
 border-radius: 10px;
 border: 1px solid rgb(0, 0, 0);
 padding: 34px;
}
.close{
padding: 4px; 
background-color: rgb(27, 188, 155);
 color: rgb(255, 255, 255);
 font-weight: bold; 
 font-size: 15px; 
 margin-top: 1%;
}
.ssb-legend{
margin-top: 2%;
 margin-left: 5%;
 margin-right: 5%; 
 border: 1px solid; 
 padding: 10px; 
 font-size: 15px;
}
.boardingPoints{
margin-top:5%
}
.payment{
background-color: rgb(27, 188, 155);
 color: rgb(255, 255, 255); 
 font-size: 15px; 
 font-weight: bold;
 padding: 3px;
}	
.dropdown{
float:none;
}

 }
@media only  screen and (max-width:500px) and (min-width:100px){
  #example{display:none;}
.main{ bottom: 0px; height: 100%;left: 0px;width: 100%;top: 0px;display:block;
}
body {
	margin: 0; 
 padding: 0; 
 width:100%;
 overflow-x: hidden;
 }
.subcontainer{   background-color: #edf9f3;
    border: 1px solid #000;
    border-radius: 10px;
    bottom: 187px;
    float: left;
    height: 34.9%;
    left: 3px;
    margin-bottom: 10px;
    position: relative;
    top: 0;
    width:99%;}
.namecontainer{text-align:left;background-color: #ebebeb;border-radius: 10px;height: 16.1%;left: 3px;right: 8px;}
.operatorsname{color: #000000;
    font: 400 24px ArialNarrow; color: #000000; font-weight: 400; width: 89.2%; }
.bustype{ color: #057635;
    font: 400 18px 'Times New Roman'; color: #057635;width: 87.2%;}
.pricecontainer{ background-color: #ebebeb;
    border-radius: 10px;
    clear: both;
    float: left;
    width: 20%;
}
.price{color: #000000;
    font: 700 22px "Trajan Pro";
    position: relative;
    top: 6px;
    width: 34%; }
.timings{ color: #005e20;
    float: left;
    font: 400 18px BookAntiqua; margin-left:0;}
.viewbutton{float:left; background-color:#1BBC9B;
    border-radius: 10px;
    height: 8.7%;
	top:1px;
	position:relative;
    width: auto;}
.viewtext{clear:both;color: #000000;cursor:pointer;
    font: 700 12px 'Trajan Pro'; color: #000000;height: 2.4%;width: auto;left: 183px;right: 135px;  }
.seats{   clear: both;
    color: #000000;
    font: 700 22px "Trajan Pro";
    height: 4.3%;
    left: 4px;
    right: 109px;
    width: auto;float:none;position:relative;top:1px; }
.hrstext{color: #005e20;position:relative;
    font: 400 20px BookAntiqua; height: 3.4%; width: 30%; left: 21px; right: 29px;}
.windows{ color: #005e20;position:relative;
    font: 400 14px BellMT; height: 2.2%; width: 19.3%; left: 21px; right: 20px;}
.cancelshape{font-size:14px;color:#EBEBEB;font-weight:bold;background-color: #1BBC9B; border-radius: 50%;height: 4.3%; width: 34%; left: 12px; right: 322px;}
.canceltxt{ color: #005e20;
    font: 400 14px BellMT;font-size:14px;color:#EBEBEB;font-weight:bold;}
	
	.hrs1{display:none;
 }
 .hrs{display:block;;
 }
	

.table-grid{width:100%;}
#busbooking{
display:none;
margin-top: 5%; margin-bottom: 13%;
 background-color: rgb(209, 244, 255); 
 border-radius: 10px;
 border: 1px solid rgb(0, 0, 0);
 padding: 34px;
}
.close{
padding: 4px; 
background-color: rgb(27, 188, 155);
 color: rgb(255, 255, 255);
 font-weight: bold; 
 font-size: 15px; 
 margin-top: 1%;
}
.ssb-legend{
margin-top: 2%;
 margin-left: 5%;
 margin-right: 5%; 
 border: 1px solid; 
 padding: 10px; 
 font-size: 15px;
}
.boardingPoints{
margin-top:5%
}
.payment{
background-color: rgb(27, 188, 155);
 color: rgb(255, 255, 255); 
 font-size: 15px; 
 font-weight: bold;
 padding: 3px;
}	
.dropdown{
float:none;
}
#seats{
float:left;
border-radius:100px;
width:80%
}
.seatLayout1{
margin-top:35%;
}

	}